<div class="game">
    <button type="text" *ngIf="isFinishButton()" (click)="onReady()">Fertig!</button>

    <div class="row" *ngFor="let row of rows">
        <ng-container *ngFor="let fieldCell of row.fieldCells">
            <div *ngIf="fieldCell.soccerPlayer" class="field-cell soccer-player"
                [ngClass]="{'selected': fieldCell.soccerPlayer.selected, 'player2': fieldCell.soccerPlayer.playerId === game.gameState.players[1].id}"
                (click)="onFieldCellClick(fieldCell)">{{ fieldCell.soccerPlayer.num }}</div>

            <div *ngIf="!fieldCell.soccerPlayer" class="field-cell"
                [ngClass]="{'disabled': fieldCell.disabled, 'highlighted': fieldCell.highlighted}"
                (click)="onFieldCellClick(fieldCell)"></div>
        </ng-container>
    </div>

    <app-player-assignment (select)="onSoccerPlayerAssigned()"></app-player-assignment>
</div>