* {
  box-sizing: border-box;
}

.row {
  display: block;
  width: 250px;
  height: 50px;
}

.field-cell {
  display: block;
  height: 50px;
  width: 50px;
  border: 1px solid white;
  background: darkgreen;
  float: left;
  cursor: pointer;
  text-align: center;

  &.soccer-player {
    background: grey;
    color: white;

    &.player2 {
      background: brown;
    }

    &.soccer-highlighted {
      background: red;
    }

    &.selected {
      background: black;
    }
  }

  &.disabled {
    background: transparent;
  }

  &.highlighted {
    border: 3px solid red;

    &:hover {
      background: red;
    }
  }
}
