<div class="overview">
    <h1>Goal Scorer</h1>

    <div class="player-selection">
        <div class="player">
            <i *ngIf="selectedPlayer === 0" class="ball"></i>
            <span (click)="onSelectPlayer(0)">Mannschaft 1</span>
        </div>

        <div class="player">
            <span (click)="onSelectPlayer(1)">Mannschaft 2</span>
            <i *ngIf="selectedPlayer === 1" class="ball"></i>
        </div>
    </div>

    <ul class="games" *ngIf="games && games.length > 0">
        <li *ngFor="let game of games">
            <div class="team">
                <div class="shirt"></div>
                <div class="team-name">
                    <app-team-select [player]="game.gameState.players[0]" (onSelect)="updateGame(game)"></app-team-select>
                </div>
            </div>

            <div class="goals">
                <span>{{ game.gameState.players[0].goals }} : {{ game.gameState.players[1].goals }}</span>
            </div>

            <div class="team">
                <div class="team-name">
                    <app-team-select [player]="game.gameState.players[1]" (onSelect)="updateGame(game)"></app-team-select>
                </div>
                <div class="shirt"></div>
            </div>

            <div class="game-actions">
                <a href="#" *ngIf="canPlay(game)" (click)="playGame($event, game)">Spielen</a>
                <a href="#" (click)="deleteGame($event, game)">Löschen</a>
            </div>

        </li>
    </ul>

    <div class="actions">
        <a href="#" (click)="createNewGame($event)">Neues Spiel</a>
    </div>
</div>